/* Gradient */
/* TEXT */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  width: 375px;
  height: 941px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), color-stop(#9f67e9), color-stop(#8d66e9), color-stop(#7a66e8), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-main-container {
  height: 550px;
  width: 300px;
  background-color: white;
  border-radius: 25px;
}

.faq-main-container .illustration {
  position: absolute;
  top: 87px;
  left: 45px;
}

.faq-main-container .shadow {
  position: relative;
  left: 30px;
}

.faq-main-container .faq-sub-container {
  width: 100%;
  height: 572px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-main-container .faq-sub-container h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

.faq-main-container .faq-sub-container .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 400px;
  margin-top: 20px;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 55px;
  max-height: 80px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 1px;
  border-bottom: 1px solid grey;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .question .question-txt {
  font-size: 13px;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .question .question-txt:hover {
  cursor: pointer;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .question .down-arrow {
  width: 9px;
  height: 9px;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .question .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .bold {
  font-weight: bold;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  display: none;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .answer-container .answer {
  font-size: 11px;
  line-height: 1.5;
  height: 30px;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .answer-container .answer:hover {
  cursor: pointer;
}

.faq-main-container .faq-sub-container .question-container .subquestion-container .faq-container .active {
  display: block;
}
/*# sourceMappingURL=style.css.map */