$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
/* Gradient */
$sofViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);
/* TEXT */ 
$veryDarkBlue: hsl(237, 12%, 33%);
$softDarkBlue: hsl(240, 6%, 50%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;

  width: 375px;
  height: 941px;
  background-image: linear-gradient(to bottom, #af67e9, #9f67e9,
                                               #8d66e9, #7a66e8, #6565e7);
  
  display: flex;
  justify-content: center;
  align-items: center;                                             
}

.faq-main-container {
  height: 550px;
  width: 300px;

  background-color: white;

  border-radius: 25px;

  .illustration {
    position: absolute;
    top: 87px;
    left: 45px;
  }

  .shadow {
    position: relative;
    left: 30px;
  }

  .faq-sub-container {
    width: 100%;
    height: 572px;
    

    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 36px;
      letter-spacing: 2px;
    }

    .question-container {
      display: flex;
      flex-direction: column;
      

      width: 90%;
      height: 400px;
      margin-top: 20px;

      .subquestion-container {
        display: flex;
        flex-direction: column;

        .faq-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: space-between;
          min-height: 55px;
          max-height: 80px;
          width: 100%;
          margin-top: 3px;
          margin-bottom: 1px;

          border-bottom: 1px solid grey;

          .question {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .question-txt {
              font-size: 13px;
            }

            .question-txt:hover {
              cursor: pointer;
            }

            .down-arrow {
              width: 9px;
              height: 9px;
            }

            .rotate {
              transform: rotate(180deg);
            }
          }

          .bold {
            font-weight: bold;
          }

          .answer-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 50px;
            margin-top: 10px;
            margin-bottom: 5px;
            padding-bottom: 10px;

            display: none;

            .answer {
              font-size: 11px;
              line-height: 1.5;
              height: 30px;
            }

            .answer:hover {
              cursor: pointer;
            }
          }

          .active {
            display: block;
          }

        }

      }

    }
  }
}